<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NWPeval - Metrics Calculator</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Optional: Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .metric-group-header {
            cursor: pointer;
            user-select: none;
        }
        .form-check-label {
            margin-bottom: 0; /* Adjusts label bottom margin */
        }
        /* Custom styles for modern and classy appearance */
        .metric-group {
            padding: 1rem;
            border-radius: 0.25rem;
            margin-bottom: 1rem;
            background-color: #f8f9fa; /* Light grey background */
            box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075); /* Subtle shadow */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Select Metrics to Compute</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form action="/compute" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="obsDataFile">Observation Data File</label>
                <input type="file" class="form-control-file" id="obsDataFile" name="obs_data">
            </div>
            <div class="form-group">
                <label for="modelDataFile">Model Data File</label>
                <input type="file" class="form-control-file" id="modelDataFile" name="model_data">
            </div>
    
            <div class="metric-group">
                <div class="metric-group-header" data-toggle="collapse" data-target="#errorMetrics" aria-expanded="true">
                    <h4>Error Metrics</h4>
                </div>
                <div id="errorMetrics" class="collapse show">
                    <div class="row">
                        <!-- Metric checkboxes will go here -->
                        <div class="col-sm-6 col-md-3 form-check metric-checkbox">
                            <input class="form-check-input" type="checkbox" name="metrics" value="MeanAbsoluteError" id="MeanAbsoluteError">
                            <label class="form-check-label" for="MeanAbsoluteError">Mean Absolute Error (MAE)</label>
                        </div>
                    
                        <div class="col-sm-6 col-md-3 form-check metric-checkbox">
                            <input class="form-check-input" type="checkbox" name="metrics" value="RootMeanSquareError" id="RootMeanSquareError">
                            <label class="form-check-label" for="RootMeanSquareError">Root Mean Square Error (RMSE)</label>
                        </div>
                    
                        <div class="col-sm-6 col-md-3 form-check metric-checkbox">
                            <input class="form-check-input" type="checkbox" name="metrics" value="AnomalyCorrelationCoefficient" id="AnomalyCorrelationCoefficient">
                            <label class="form-check-label" for="AnomalyCorrelationCoefficient">Anomaly Correlation Coefficient (ACC)</label>
                        </div>
                    
                        <div class="col-sm-6 col-md-3 form-check metric-checkbox">
                            <input class="form-check-input" type="checkbox" name="metrics" value="FractionsSkillScore" id="FractionsSkillScore">
                            <label class="form-check-label" for="FractionsSkillScore">Fractions Skill Score (FSS)</label>
                        </div>
                    
                        <div class="col-sm-6 col-md-3 form-check metric-checkbox">
                            <input class="form-check-input" type="checkbox" name="metrics" value="EquitableThreatScore" id="EquitableThreatScore">
                            <label class="form-check-label" for="EquitableThreatScore">Equitable Threat Score (ETS)</label>
                        </div>
                    
                        <div class="col-sm-6 col-md-3 form-check metric-checkbox">
                            <input class="form-check-input" type="checkbox" name="metrics" value="ProbabilityofDetection" id="ProbabilityofDetection">
                            <label class="form-check-label" for="ProbabilityofDetection">Probability of Detection (POD)</label>
                        </div>
                    
                        <div class="col-sm-6 col-md-3 form-check metric-checkbox">
                            <input class="form-check-input" type="checkbox" name="metrics" value="FalseAlarmRatio" id="FalseAlarmRatio">
                            <label class="form-check-label" for="FalseAlarmRatio">False Alarm Ratio (FAR)</label>
                        </div>
                    
                        <div class="col-sm-6 col-md-3 form-check metric-checkbox">
                            <input class="form-check-input" type="checkbox" name="metrics" value="CriticalSuccessIndex" id="CriticalSuccessIndex">
                            <label class="form-check-label" for="CriticalSuccessIndex">Critical Success Index (CSI)</label>
                        </div>
                    
                        <div class="col-sm-6 col-md-3 form-check metric-checkbox">
                            <input class="form-check-input" type="checkbox" name="metrics" value="BrierSkillScore" id="BrierSkillScore">
                            <label class="form-check-label" for="BrierSkillScore">Brier Skill Score (BSS)</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Plot Type and Coordinates Input Section -->
            <div class="form-group">
                <div class="metric-group-header" data-toggle="collapse" data-target="#plotTypeSection" aria-expanded="true">
                    <h4>Select the type of plot you wish to generate!</h4>
                </div>
                <div id="plotTypeSection" class="collapse show">
                    <label>Select Plot Type:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="plotType" id="spatial" value="spatial" checked>
                        <label class="form-check-label" for="spatial">Spatial</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="plotType" id="timeSeries" value="timeSeries">
                        <label class="form-check-label" for="timeSeries">Time Series</label>
                    </div>
                </div>
            </div>

            <!-- Latitude and Longitude Inputs -->
            <div class="form-group" id="latLonInputs" style="display: none;">
                <div class="row">
                    <div class="col-md-6">
                        <label for="startLatitude">Start Latitude:</label>
                        <input type="text" class="form-control" id="startLatitude" name="startLatitude" placeholder="Enter start latitude">
                    </div>
                    <div class="col-md-6">
                        <label for="stopLatitude">Stop Latitude:</label>
                        <input type="text" class="form-control" id="stopLatitude" name="stopLatitude" placeholder="Enter stop latitude">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label for="startLongitude">Start Longitude:</label>
                        <input type="text" class="form-control" id="startLongitude" name="startLongitude" placeholder="Enter start longitude">
                    </div>
                    <div class="col-md-6">
                        <label for="stopLongitude">Stop Longitude:</label>
                        <input type="text" class="form-control" id="stopLongitude" name="stopLongitude" placeholder="Enter stop longitude">
                    </div>
                </div>
            </div>

            <!-- Plot Generation Button -->
            <div class="form-group">
                <button type="submit" class="btn btn-success mt-3">Generate Plot</button>
            </div>
        </form>
    </div>

    <!-- Bootstrap and jQuery JavaScript CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('input[name="plotType"]').on('change', function() {
                if ($(this).val() === 'spatial') {
                    $('#latLonInputs').show();
                } else {
                    $('#latLonInputs').hide();
                }
            });
        });
    </script>
</body>
</html>
